
@font-face {
  font-family: 'iconfont';  /* project id 532698 */
  src: url('http://at.alicdn.com/t/font_532698_40bbdgvs60gm0a4i.eot');
  src: url('http://at.alicdn.com/t/font_532698_40bbdgvs60gm0a4i.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_532698_40bbdgvs60gm0a4i.woff') format('woff'),
  url('http://at.alicdn.com/t/font_532698_40bbdgvs60gm0a4i.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_532698_40bbdgvs60gm0a4i.svg#iconfont') format('svg');
}
/*.about*/
.about{
	width: 100%;
	height: auto;
	padding: 120px 0;
	/*background: yellow;*/
}
.about_head{
	max-width: 600px;
	margin:0 auto 50px;
	/*background:red;*/
}
.about_head h1{
	text-align: center;
	font-size: 36px;
	color: #0d0d0d;
}
.about_head p{
	text-align: center;
	color: #55575d;
	font-size: 14px;
    line-height: 22px;

}
.about-img img{
	display: block;
	width: 100%;
	/*height: 100%;*/
}
.about-text h1{
	font-size: 36px;
	color: #0d0d0d;
	margin-top:0;  
}
.about-text p{
	font-size: 14px;
	line-height: 24px;
	color: #0d0d0d;
}
/*.about*结束/


/*.our-services 开始*/

.our-services{
	width: 100%;
	/*height: auto;*/
	background: #f3f3f4;
	padding: 120px 0px 90px;
}
.our-service_head{
	height:auto;
	margin:0 auto 50px; 
}
.our-service_head h1{
	font-size: 36px;
	color: #0d0d0d;
	text-align: center;
}
.our-service_head p{
	font-size: 14px;
    line-height: 22px;
    color: #55575d;
    text-align: center;
}
.our-service_xiangqing{
  /*max-width:222px;*/
  height: auto;
  padding:15px;
   

}
.our-service_xiangqing ul{
	width: 100%;
	height:auto;
	background:#fff;
	padding:30px;

}
.our-service_xiangqing li{
	width: 100%;
	height: auto;
	margin:0 auto;
}
.our-service_xiangqing ul:hover{
	box-shadow: 0px 4px 16px 0px #808080;
	transform: translateY(-2%);
	transition: 0.25s;
}
.our-service_xiangqing li i{
	font-size: 32px;
	color: #0d0d0d; 
	font-style:normal;
	font-family: 'iconfont';
	text-align:center;
	display: block; 
	margin-bottom:10px; 
}
.our-service_xiangqing h1{
	font-size:24px;
	color: #0d0d0d;
	text-align: center;
	margin-bottom:10px; 
}
.our-service_xiangqing p{
	text-align: center;
}

/*.our-services 结束*/



/*our-portfolios开始*/

.our-portfolios{
	width: 100%;
	/*height: auto;*/
	background: #fff;
	padding: 120px 0px 90px;
}
.our-portfolios_head{
	height:auto;
	margin:0 auto 50px; 
}
.our-portfolios_head h1{
	font-size: 36px;
	color: #0d0d0d;
	text-align: center;
}
.our-portfolios_head p{
	font-size: 14px;
    line-height: 22px;
    color: #55575d;
    text-align: center;
    margin-bottom: 50px;
}
.our-portfolios_head div{
   width:100%;
   height: auto;
   margin:0 auto 30px;
   display: flex;
   justify-content:center; 
}
.our-portfolios_head div a{
  text-align:center;
  display: block;
  text-decoration-line: none;
  color: #979797;
  font-weight: 700;
}
.our-portfolios_head div a:nth-child(1){
	color: #0d1218;
}
.our-portfolios_head div a:hover{
	color: #0d1218;
	transition: 0.25s;
}
.our-portfolios_xiangqing{
   width: 100%
   height: auto;
   padding:0;

}
#tu{
	padding:0;
}
.our-portfolios-img img{
	display: block;
	width: 100%;
	padding-right:15px;
	padding-bottom: 15px;
	position: relative; 

}
.overlay{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0,0,0,0.6);
   opacity:0;
   box-sizing: border-box;
   border-right: 15px solid #fff;
   border-bottom: 15px solid #fff;  
}
.overlay i{
	 font-family: 'iconfont'; 
	font-style: normal;
	color: #fff;
	display: block;
	text-align:center;
	

}
.overlay i:hover{
	color: #1280a9;
}
.overlay p{
	color:#fd5300;
	text-align: center;
	margin:40% auto 0;
	display: flex;
	justify-content: center;
}
.overlay:hover{
	opacity:1;
	transition:0.5s;


}
.overlay:hover a{
	opacity:1;
	transition:0.5s;
	text-decoration-line: none;

	
}
footer{
	width: 100%;
	height: auto;
	padding: 120px 0px 90px;
	background: #f3f3f4;
}
.footer-head{
	width: 100%;
	height: auto;
	margin-bottom: 50px;

}
.footer-head h1{
	width:120px;
	height:60px;
	color: #0d0d0d;
	font-size: 36px;
	text-align: center;
	line-height:60px;
	margin:0 auto 10px;

}
.footer-head p{
	width:100%;
	height: auto;
	font-size: 14px;
    color: #55575d;
    text-align: center;
    margin:0 auto;

}
footer h1 p span{
	width: 100%;
	font-size: 14px;
    color: #55575d;
    text-align: center;
    margin:0 auto;
    display: block;
}

form{
	display: block;
}
form .contact-input {
    width: 100%;
    border: 1px solid #e4e7e9;
    border-radius: 3px;
    outline: none;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #a3a8ab;
    margin-bottom: 20px;
    padding: 10px 15px;
}
form .contact-submit{
   	background: #1a1a1a;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-size:18px;
    font-weight: 700;
    padding:15px 35px;
    margin-bottom: 20px;
}
form .contact-submit:focus{
  outline: none;
}
.icontf{
	font-family: 'iconfont';
	height: 60px;
    width: 60px;
    background-color: #f6f6f6;
    color: #55575d;
    font-size: 36px;
    text-align: center;
    line-height: 60px;
}
.icontf:first-child{
     border-right:15px solid #f6f6f6; 
     border-left:12px solid #f6f6f6;
     text-align: center; 
}
.footer-jtxi-l{
	display: flex;
	margin-bottom:30px;
	justify-content:flex-start;
}
.footer-jtxi-l p{
	font-size: 14px;
    color: #333;
	padding:8px 15px; 
}

.dibu{
	width: 100%;
	background: #0d1218;
    color: #fff;
    padding: 20px 0px;
    position:relative;
}
.dibu p{
	color: #fff;
    margin: 0px;
    padding: 6px 0px;
    font-size: 14px;
    line-height: 24px;
}
.dibu ul{
   float: right;
}
.dibu ul li{
	display: inline-block;
    float: left;
    margin-right: 10px;
}
.dibu ul li a{
	display: inline-block;
    font-size: 16px;
    line-height: 38px;
    color: #252525;
    height: 36px;
    width: 36px;
    background: rgba(255, 255, 255, .5);
    border-radius:50%;
    text-align: center;
    transition: 0.25s;
}
 .dibu ul li a:hover{
 	color: #fff;
 	background:#337ab7;
 	}   
.icontfont-footer{
   font-family: 'iconfont';
    display: inline-block;
    font-style: normal;
    font-size:25px;
}
.zfx{
	display: inline-block;
	width: 50px;
	height: 50px;
	background:#0d1218;
	position: absolute;
	left:0;
	right: 0;
	margin-left:auto;
	margin-right: auto;
	top:-25px;
	color: #fff;
	transform: rotate(45deg);
	padding-left:10px;
	transition: 0.25s;
	font-weight: bold;
}
.zfx i{
	font-family: 'iconfont';
    display: inline-block;
    font-style: normal;
    font-size:25px;
    position: absolute;
	top:5px;
	transform: rotate(-45deg);

}
.zfx:hover{
	background:#337ab7;
	color: #000;
}
@media screen and (min-width:1200px){
  .overlay p{
	font-size: 20px;
}
.overlay i{
	font-size:35px;	
   
}
.our-portfolios_head div a{
  font-size: 16px;
  line-height: 28px;
  margin-left: 25px; 
}
}
@media screen and (min-width:992px) and (max-width:1200px){
  .overlay p{
	font-size: 20px;
}
.overlay i{
	font-size:35px;	

}
.our-portfolios_head div a{
  font-size: 16px;
  line-height: 28px;
  margin-left: 25px; 
}
}
@media screen and (min-width:768px) and (max-width:992px){
	.about-text h1{
	
	margin-top:30px;  
  }
.our-service_xiangqing{
  max-width:992px;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
 border:15px solid #f3f3f4;
}
.overlay i{
	font-size:35px;	

}
.our-portfolios_head div a{
  font-size: 16px;
  line-height: 28px;
  margin-left: 25px; 
}
}
@media screen and (max-width: 768px){
   .about-text h1{
	
	margin-top:30px;  
  }
  .our-service_xiangqing{
  max-width:100%;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
 border:15px solid #f3f3f4;

}
  .overlay p{
	font-size: 12px;
}
.overlay i{
	font-size:20px;	

}
.our-portfolios_head div a{
  width: 20%;	
  font-size:10px;
  line-height:10px;
  margin-left:5px; 
  display:flex;
  flex-wrap:; 
}
}